In [4]:
#Import packages
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

#Import csv into train/test datasets
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

# Exploratory Data Analysis (EDA)
Rubric: Discussion is very thorough. All aspects of the data exploration and EDA that are relevant to the main project objectives are carefully addressed.
Figures and tables are highly insightful, and are carefully tailored to the project tasks and report.

In [5]:
train_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [6]:
test_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

# Data Pre-processing
Rubric: All preprocessing steps are clearly explained.
## Data Splitting

# Data Modeling
Rubric: Predictive modeling methods are well motivated, correctly implemented, and, to the extent appropriate, span the range of methods discussed in this course.
## Model Performance & Hyperparameter Tuning
Rubric: Cross-validation and/or held-out test sets are used in accordance with best practices to assess model performance. Performance metrics are carefully tailored to the project objectives.

# Final Model

## Results
Rubric: All project objectives are fully met, the findings are presented clearly, and the question(s) are technically addressed in the report and presentation.